$bg: #BADDD9;
$text: #F8F9FA;
$nav-text: #7FB8B3;
$plain-white: #FFFFFF;
$btn-text: #6DABA4;
//$terms-text

.sign-up {
    height: auto;

    @media (min-width: 768px) {
        height: 440px;
    }

    .header {
        color: #282B31;
        letter-spacing: 1px;
        line-height: 50px;
        text-align: center;
        margin: 80px auto 60px auto;
        font-size: 36px;

        @media (min-width: 768px) {
            line-height: 54px;
            width: 632px;
            font-size: 35px;
            height: 50px;
            margin-bottom: 60px;
        }

        .sign {
            font-weight: 800;
        }
    }

    .input {
        margin: 10px;
        height: 50px;
        width: 243px;
        border: 1px solid #E7E8EA;
        border-radius: 6px;
        background-color: #F8F9FA;
        font-weight: 200;

        &::-webkit-input-placeholder{
            font-family: "Nunito Sans";
            color: #B9BDC3;
            font-size: 17px;
            font-weight: 200;
        }

        &[type="text"] {
            font-family: "Nunito Sans";
            font-size: 17px;
            padding-left: 15px;
            box-sizing: border-box;
        }

        @media (min-width: 768px) {
            margin: 0 10px;
        }
    }

    .btn {
        background-color: $btn-text;
        color: #FFFFFF;
        font-family: "Nunito Sans";
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 1.5px;
        line-height: 23px;
        text-align: center;
    }

    .terms {
        margin: 32px auto 65px;
        height: 15px;
        color: #B9BDC3;
        font-size: 11px;
        line-height: 15px;

        .link {
            display: inline;
            text-decoration-color: #B9BDC3;
        }
    }
}
