$bg: #BADDD9;
$text: #F8F9FA;
$nav-text: #7FB8B3;
$plain-white: #FFFFFF;
$btn-text: #6DABA4;

.footer {
    height: auto;
    bottom: 0;
    width: 100%;
    background-color: $btn-text;
    text-align: left;

    @media (min-width: 768px) {
        height: 330px;
    }

    .container {
        margin: auto;
        width: 90%;
        height: 75%;
        top: 56px;

        @media (min-width: 768px) {
            position: relative;
            top: 20px;
        }

        .footer-list {
            list-style: none;
            text-align: center;
            padding: 0;

            @media (min-width: 768px) {
                text-align: left;
                display: inline-table;
                width: 16%;
                top: 0;
                position: relative;
            }

            .list-title {
                margin: 32px 11px 11px;
                font-size: 14px;
                font-weight: 600;
                height: 20px;
                letter-spacing: 1px;
            }

            .list-item {
                margin: 11px;
                font-size: 13px;
            }
        }
    }

    .subscribe {
        width: 28% !important;
        height: 90%;
        display: inline;

        .subscribe-title {
            @media (max-width: 1134px) {
                margin-bottom: 20px;
            }
        }

        .email {
            margin-top: 25px;
            height: 50px;
            width: 100%;
            border: 1px solid #E7E8EA;
            border-radius: 6px;
            background-color: #F8F9FA;

            &::-webkit-input-placeholder{
                font-family: "Nunito Sans", FontAwesome;
                color: #B9BDC3;
                font-size: 17px;
                font-weight: 200;
                //padding-left: 15px;
            }

            &[type="text"] {
                font-family: "Nunito Sans";
                font-size: 15px;
                padding-left: 15px;
                box-sizing: border-box;
            }

            @media (min-width: 768px) {
                width: 120%;
                margin: 0 0 20px 11px;
            }

            @media (max-width: 1134px) and (min-width: 768px) {
                margin-top: 20px;
            }
        }
    }

    .line {
        width: 90%;
    }

    .signature {
        text-align: center;
        margin: 24px auto;
        width: 90;
        font-size: 11px;

        .seaworthy {
            @media (min-width: 768px) {
                left: 5%;
                display: inline;
                position: absolute;
            }
        }

        .copyright {
            @media (min-width: 768px) {

                right: 5%;
                display: inline;
                position: absolute;
            }
        }
    }
}