$bg: #BADDD9;
$text: #F8F9FA;
$nav-text: #7FB8B3;
$plain-white: #FFFFFF;
$btn-text: #6DABA4;
//$terms-text

.footer {
    height: 330px;
    bottom: 0;
    width: 100%;
    background-color: $nav-text;
}