.footer {
  height: auto;
  bottom: 0;
  width: 100%;
  background-color: #6DABA4;
  text-align: left; }

@media (min-width: 768px) {
  .footer {
    height: 330px; } }

.footer .container {
  margin: auto;
  width: 90%;
  height: 75%;
  top: 56px; }

@media (min-width: 768px) {
  .footer .container {
    position: relative;
    top: 20px; } }

.footer .container .footer-list {
  list-style: none;
  text-align: center;
  padding: 0; }

@media (min-width: 768px) {
  .footer .container .footer-list {
    text-align: left;
    display: inline-grid;
    width: 16%;
    top: 0;
    position: relative; } }

.footer .container .footer-list .list-title {
  margin: 32px 11px 11px;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  letter-spacing: 1px; }

.footer .container .footer-list .list-item {
  margin: 11px;
  font-size: 13px; }

.footer .subscribe {
  width: 28% !important;
  height: 90%;
  display: inline; }

.footer .subscribe .email {
  margin-top: 25px;
  height: 50px;
  width: 100%;
  border: 1px solid #E7E8EA;
  border-radius: 6px;
  background-color: #F8F9FA; }

@media (min-width: 768px) {
  .footer .subscribe .email {
    width: 120%;
    margin: -14px 0 20px 11px;
    margin-left: 11px; } }

.footer .line {
  width: 90%; }
