.nav-container {
  color: #BADDD9;
  text-align: left;
  padding: 0;
  margin: 0;
  display: inline-block; }

@media (min-width: 768px) {
  .nav-container {
    text-align: right;
    background-color: #BADDD9; } }

.nav-container .nav-list {
  list-style: none; }

@media (min-width: 768px) {
  .nav-container .nav-list {
    padding: 0;
    margin: 0;
    top: 10px;
    position: relative; } }

.nav-container .nav-list a {
  text-decoration: none;
  color: #7FB8B3; }

@media (min-width: 768px) {
  .nav-container .nav-list a {
    padding: 7px 7px;
    transition: all .3s; }
  .nav-container .nav-list a:hover {
    color: #F8F9FA; } }

.nav-container .nav-list li {
  color: #6DABA4;
  font-size: 1.25em;
  margin: 1.4em 0 1.4em 0;
  padding: 0 1em 0 1em; }

@media (width: 320px) {
  .nav-container .nav-list li {
    font-size: 1.2em; } }

@media (min-width: 768px) {
  .nav-container .nav-list li {
    margin: 0;
    padding: 0 17px;
    font-size: 16px;
    line-height: 20px;
    display: inline; } }
