.content {
  top: 52px;
  height: 500px;
  background-color: #BADDD9;
  color: #FFFFFF;
  position: relative;
  padding: 0;
  text-align: center; }

@media (min-width: 768px) {
  .content {
    top: 85px;
    height: 525px;
    position: relative; } }

.content .contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 20px;
  position: relative; }

@media (min-width: 768px) {
  .content .contain {
    margin: auto;
    text-align: center; } }

@media (min-width: 1380px) {
  .content .contain {
    width: 88%; } }

.content .contain .app-icon {
  content: url("AppIcon.png");
  width: 110px; }

@media (min-width: 768px) {
  .content .contain .app-icon {
    width: 90px;
    content: url("AppIcon@2x.png"); } }

.content .contain .para {
  letter-spacing: 1px;
  width: auto;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 36px;
  font-size: 28px;
  text-align: center;
  margin: auto 16px; }

@media (min-width: 768px) {
  .content .contain .para {
    width: 555px;
    font-size: 36px;
    line-height: 54px;
    margin: auto; } }

.content .contain .para .sed {
  font-weight: 200; }

.content .contain .btn-main {
  margin: 30px 30px 50px;
  border-radius: 6px;
  background-color: #F8F9FA;
  color: #6DABA4;
  width: 100px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 23px; }

.content .contain .window-1 {
  content: url("Window-1.png");
  width: 90%; }

@media (min-width: 768px) {
  .content .contain .window-1 {
    max-width: 1100px;
    content: url("Window-1@2x.png"); } }

.content .contain .divider {
  height: 110px; }
