$bg: #BADDD9;
$text: #F8F9FA;
$nav-text: #7FB8B3;
$plain-white: #FFFFFF;
$btn-text: #6DABA4;
//$terms-text

.content {
    top: 52px;
    height: 500px;
    background-color: $bg;
    color: $plain-white;
    position: relative;
    padding: 0;
    text-align: center;

    @media (min-width: 768px) {
        top: 85px;
        height: 525px;
        position: relative;
    }

    .contain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        top: 20px;
        position: relative;

        @media (min-width: 768px) {
            margin: auto;
            text-align: center;
        }

        @media (min-width: 1380px) {
            width: 88%;
        }

        .app-icon {
            content:url("AppIcon.png");
            width: 110px;

            @media (min-width: 768px) {
                width: 90px;
                content:url("AppIcon@2x.png");
            }
        }

        .para {
            letter-spacing: 1px;
            width: auto;
            font-weight: 800;
            letter-spacing: 1px;
            line-height: 36px;
            font-size: 28px;
            text-align: center;
            margin: auto 16px;

            @media (min-width: 768px) {
                width: 555px;
                font-size: 36px;
                line-height: 54px;
                margin: auto;
            }

            .sed {
                font-weight: 200;
            }
        }

        .btn-main {
            margin: 30px 30px 50px;
            border-radius: 6px;
            background-color: $text;
            color: $btn-text;
            width: 100px;
            border: none;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 17px;
            letter-spacing: 1px;
            font-weight: 600;
            line-height: 23px;
        }

        .window-1 {
            //z-index: 100;
            content:url("Window-1.png");
            width: 90%;

            @media (min-width: 768px) {
                max-width: 1100px;
                content:url("Window-1@2x.png");
            }
        }

        .divider {
            height: 110px;
        }
    }
}