$bg: #BADDD9;
$text: #F8F9FA;
$nav-text: #7FB8B3;
$plain-white: #FFFFFF;
$btn-text: #6DABA4;
//$terms-text

.content {
    top: 52px;
    height: 500px;
    background-color: $bg;
    color: $plain-white;
    position: relative;
    padding: 0;
    text-align: center;

    @media (min-width: 768px) {
        top: 85px;
        height: 525px;
        position: relative;
    }

    .contain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //margin: 16px;
            width: 100%;

        @media (min-width: 768px) {
            margin: auto;
            text-align: center;
        }

        @media (min-width: 1380px) {
            width: 88%;
        }

        .app-icon {
            content:url("AppIcon.png");
            width: 110px;

            @media (min-width: 768px) {
                width: 90px;
                content:url("AppIcon@2x.png");
            }
        }

        .para {
            letter-spacing: 1px;
            width: auto;
            font-weight: 800;
            letter-spacing: 1px;
            line-height: 36px;
            font-size: 28px;
            text-align: center;

            @media (min-width: 768px) {
                width: 555px;
                font-size: 36px;
                line-height: 54px;
                margin: auto;
            }

            .sed {
                font-weight: 200;
            }
        }

        .btn-main {
            margin: 30px 30px 50px;
            border-radius: 6px;
            background-color: $text;
            color: $btn-text;
            width: 100px;
            border: none;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 17px;
            letter-spacing: 1px;
            font-weight: 600;
            line-height: 23px;
        }

        .window-1 {
            //z-index: 100;
            content:url("Window-1.png");
            width: 90%;

            @media (min-width: 768px) {
                max-width: 1100px;
                content:url("Window-1@2x.png");
            }
        }

        .divider {
            height: 110px;
        }

        .three {
            background-color: $text;
            width: 100%;
            height: auto;
            position: relative;


            @media (min-width: 768px) {
                height: 768px;
                width: 100%;
            }

            .top {
                top: 100px;
            }

            .info {
                height: 100%;

                @media (min-width: 768px) {
                    display: inline-block;
                    padding: 0 30px;
                    width: 40%;
                    float: left;
                    position: relative;
                }

                .box-title {
                    //height: 30px;
                    color: #282B31;
                    font-family: "Nunito Sans";
                    font-size: 36px;
                    line-height: 54px;
                    text-align: left;
                    margin: 50px 0 40px;

                    .bold {
                        font-weight: 800;
                    }
                }

                .box-info {
                    color: #676C75;
                    font-family: "Nunito Sans";
                    font-size: 16px;
                    line-height: 28px;
                    text-align: left;
                    margin: 10px 0 40px;

                    @media (min-width: 768px) {
                        display: inline-block;
                    }
                }
            }

            .img {
                height: auto;
                //width: 50%;

                @media (min-width: 768px) {
                    right: 5px;
                    overflow: hidden;
                    height: 600px;
                    width: 50%;
                    display: inline;
                    position: absolute;
                }

                .win {
                    content:url("TwoLine/Window-2.png");
                    //width: 80%;
                    height: 80%;

                    @media (max-width: 767px) {
                        width: 95%;

                        //display: inline;
                        //position: absolute;
                    }
                }

            }
        }

        .sign-up {
            height: auto;

            @media (min-width: 768px) {
                height: 440px;
            }

            .header {
                margin: auto;
                color: #282B31;
                letter-spacing: 1px;
                line-height: 50px;
                text-align: center;
                margin-top: 120px;
                font-size: 36px;

                @media (min-width: 768px) {
                    line-height: 54px;
                    width: 632px;
                    font-size: 35px;
                    height: 50px;
                    margin-bottom: 60px;
                }

                .sign {
                    font-weight: 800;
                }
            }

            .input {
                margin: 10px;
                height: 50px;
                width: 243px;
                border: 1px solid #E7E8EA;
                border-radius: 6px;
                background-color: #F8F9FA;

                @media (min-width: 768px) {
                    margin: 0 10px;
                }
            }

            .terms {
                margin: 32px auto;
                height: 15px;
                color: #B9BDC3;
                font-size: 11px;
                line-height: 15px;

                .link {
                    display: inline;
                    text-decoration-color: #B9BDC3;
                }
            }
        }
    }
}