.side-boxes {
    height: auto;
    width: 100%;
    margin: auto;

    @media (min-width: 768px) {
        text-align: center;
        width: 100%;
    }

    @media (min-width: 980px) {
        max-width: 1300px;
    }


    .row {
        height: auto;
        width: auto;
        color: black;
        text-align: center;

        .page-info {
            margin-bottom: 60px;
            padding: 0;
            height: 100%;

            @media (min-width: 768px) {
                display: inline-block;
                width: 50%;
            }

            .base {
                height: 70px;
                width: 70px;
                box-shadow: 0 6px 12px 0 rgba(32,33,39,0.08);
            }

            .clock {
                content:url("icon-clock.svg");
            }

            .lock {
                content:url("icon-lock.svg");
            }

            .box-title {
                height: 30px;
                color: #282B31;
                font-size: 36px;
                line-height: 54px;
                text-align: center;

                .bold {
                    font-weight: 800;
                }
            }

            .box-info {
                color: #676C75;
                font-size: 16px;
                line-height: 28px;
                text-align: center;

                @media (min-width: 768px) {
                    padding: 0 10px;
                    display: inline-block;
                    width: 75%;
                }
            }
        }

        .left {
            @media (min-width: 768px) {
                float: left;
            }
        }

        .right {
            @media (min-width: 768px) {
                float: right;
            }
        }
    }
}
